@import "src/variables";

.homePage {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  height: 100vh;

  & section {
    display: grid;
    align-items: start;
    justify-items: center;
    width: 100%;
    overflow: auto;
  }

  & .grid {
    display: grid;
    align-items: center;
    padding: 24px;
    grid-row-gap: 8px;
  }
}

.userCard {
  display: grid;
  grid-template-columns: 48px auto auto;
  grid-column-gap: 24px;
  box-shadow: 0 0 0 1px @gray;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 3px 3px 5px 2px @gray;
  }

  & .thumbnail {
    grid-row: 1 / 3;
  }
}